<div class="container">
    <h5>Captura la información de la nueva Marca.</h5>
    <h6 class="text-end">Los campos con (*) son obligatorios.</h6>
    <form>
        <!-- <div class="mb-3">
            <label for="idMarca" class="form-label">ID Marca</label>
            <input type="number" class="form-control" id="idMarca" [(ngModel)]="marca.idMarca" name="idMarca" disabled readonly>
        </div> -->
        <div class="mb-3"> 
            <label for="nombre" class="form-label">Nombre *</label> 
            <input type="text" class="form-control" id="nombre" [(ngModel)]="marca.nombre" name="nombre" required> 
            <div id="nombreHelp" class="form-text">Ingrese el nombre de la marca.</div> 
        </div>
        <div class="mb-3"> 
            <label for="origen" class="form-label">Origen *</label> 
            <input type="text" class="form-control" id="origen" [(ngModel)]="marca.origen" name="origen" required> 
            <div id="origenHelp" class="form-text">Ingrese el origen de la marca.</div>
        </div>
        <div class="mb-3"> 
            <label for="eslogan" class="form-label">Eslogan</label> 
            <input type="text" class="form-control" id="eslogan" [(ngModel)]="marca.eslogan" name="eslogan"> 
            <div id="esloganHelp" class="form-text">Ingrese el eslogan de la marca (opcional).</div> 
        </div>

        <button type="submit" class="btn btn-dark" (click)="guardar()">Guardar</button>
    </form>
</div>
